<div id="logo-container"><img id="logo" src="/img/regular-logo.png"></div>
<form id="upload_form">
    <div id="form_control" class="video_input_div">
        <div class="videoPlayer">
            <div class="dropZone">
                <span id="dropText">Clique ou arraste um ficheiro aqui</span>

                <input id="video_input" name="video_file" type="file" accept="video/*" required/>
            </div>
            
            <video id="video_preview" class="hidden"></video>
        </div>
        <div id="player_bar"></div>
    </div>
    <div id="submit_div">
        <div id="left_subdiv">
            <div id="video_metrics"></div>
        </div>
        <div class="code_input_div">
            <label for="code">Digite seu código: </label>
            <input id="code" name="code" type="text" required/>
        </div>
        <div id="msg_popup" style="visibility: hidden;">
            <div id="msg_popup_body">
                <div id="msg_popup_header">
                    <h1>Envie seu clip para os CAP's</h1>
                    <button id="close_popup_btn" type="button"><i class="bi bi-x-lg"></i></button>
                </div>
                <label for="description">Descrição</label>
                <textarea id="description" name="description"></textarea>
                <div id="status_div">
                    <div id="status"></div>
                    <div id="status_progress_bar"><div id="status_progress"></div></div>
                </div>
                <div id="msg_popup_actions">
                    <button type="submit" id="submit_button">ENVIAR</button>
                </div>
            </div>
        </div>
        <button type="button" id="msg_popup_button">DESCRIÇÃO + ENVIAR</button>
    </div>
</form>