{{> header}}

<div class="videoSentPageDiv">
    <img id="logo" src="/img/regular-logo.png">
    <h1>Você enviou o vídeo para o Discord!</h1>
    <button id="undo">Desfazer</button>
    <a href="/">Voltar</a>
</div>