<form id="signupForm">
    <img id="logo" src="/img/regular-logo.png">

    <h1>Cadastre-se</h1>
    <div id="auth_form_control">
        <label for="login">Login: </label>
        <input
            type="text"
            name="login"
            id="login"
            required
        />
    </div>
    <div id="auth_form_control">
        <label for="password">Senha: </label>
        <input
            type="password"
            name="password"
            id="password"
            required
        />
    </div>
    <div id="auth_form_control">
        <label for="passwordConfirm">Confirme a senha: </label>
        <input
            type="password"
            name="passwordConfirm"
            id="passwordConfirm"
            required
        />
    </div>
    
    <div id="errorMsg"></div>
    <button type="submit">CADASTRAR</button>
</form>


<form class="tokenConfirmForm hidden">
    <div>Por favor, envie uma mensagem privada no Discord para o Bot com o seguinte conteúdo: </div>
    <div id="token_form_control">
        <input id="token_value" name="token" readonly/>
        <button id="copy_token_btn" type="button">Copiar</button>
    </div>
    
    <div id="confirmErrorMsg"></div>
    <button id="signupBtn" type="submit">Confirmar</button>
</form>