* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #480A0A;
    width: 100%;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.hidden {
    display: none;
}

#upload_form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.44vh;
    width: calc(63.5vh * 16/9);
    max-width: 100vw;
    top: calc(63.5vh * 16 / 9 * 0.12 * -0.18)
}

#form_control {
    width: 100%;
}

.video_input_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.44vh;
}

.videoPlayer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 63.5vh;
    max-height: calc(100vw * 9/16);
    background-color: black;
    width: 100%;
}

#video_preview {
    width: 100%;
    height: auto;
    max-height: 63.5vh;
}

#submit_div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: end;
    height: 4.6vh;
    gap: .5vw;
}

.code_input_div {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.code_input_div label {
    color: white;
}

#code {
    all: unset;
    box-sizing: border-box;
    background-color: white;
    width: 11.80vw;
    height: 100%;
    min-width: 160px;
    font-size: 16px;
    padding: .5vw;
    max-width: 160px;
}

#submit_button, #msg_popup_button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1vw;
    background-color: #284DE5;
    color: white;
    border-radius: 10px;
    height: 100%;
}


#submit_button:disabled, #msg_popup_button:disabled {
    background-color: #B9BADA;
    cursor: auto;
}

textarea {
    resize: none;
    padding: .5vw;
    font-size: 16px;
}

.videoPlayer , #player_bar, #video_preview, #code{
    border-radius: 10px;
}


#status_div {
    min-height: 50px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#status_progress_bar {
    position: relative;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
}

#status_progress {
    height: 100%;
    background-color: #cc3533;
    text-align: center;
    color: white;
    transition: width .3s ease-in-out;
    padding-left: 1vw;
    font-size: 14px;
}

#left_subdiv {
    flex: 1;
    font-size: 11px;
}

#video_metrics {
    display: flex;
    flex-direction: column;
    gap: .5vh;
    color: white;
}

#video_metrics p{
    margin: 0;
}

#logo-container {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#logo {
    width: calc(63.5vh * 16 / 9 * 0.12);
    z-index: 5;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: end;

    width: calc(63.5vh * 16/9);
}

#logoutBtn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1vw;
    background-color: #c40000;
    color: white;
    border-radius: 10px;
    height: 40px;
    font-weight: 500;
    cursor: pointer;
}