#player_bar {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 6.83vh;
    width: 100%;
    background-color: #210707;
    border-radius: 10px;
}

.plyr_bar {
    position: relative;
    max-height: 1.6vh;
    background-color: #D9D9D9;
    flex: 1;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    cursor: pointer;
}

.plyr_progress {
    height: 100%;
    width: 0px;
    background-color: #284DE5;
    border-radius: 10px 10px 10px 0px;
    /* border-radius: inherit; */
}

#plyr_buttons {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    max-height: calc(100% - 1.6vh);
}

#play_button_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#play_pause_btn {
    all: unset;
    background-color: white;
    color: #210707;
    width:4vh;
    height:4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

#play_pause_btn .bi {
    font-size: 3.8vh;
    display: flex;
}

#time {
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1vw;
    font-size: 14px;
}

#right_buttons_div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: white;
    font-size: 3.2vh;
    padding: 0 1vw;
}

#video_edit_button {
    all: unset;
    cursor: pointer;
    background-image: url(/img/edit_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 3.2vh;
    width: 3.2vh;
}

